* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

h2, h1 {
    font-family: 'Amatic SC', cursive;
}
.navalert-container {
    padding: 0;
    margin:0;
    text-align: center;
    background-color: #ffdb4d;

}
.site-wide-alert {
    background: transparent;
    margin: 0;
}

.site-wide-alert h5 {
    color: #ff471a;
    font-size: 140%;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 0;
}

#header {
    width: 100%;
    height: 100%;
    line-height: 60px;
    margin-top: 0;
    border-block-end-style: solid;
    border-bottom-color: lightgray; 
    border-bottom-width: 1px;

}
.header .navbar-light {
    background-color:#fff;
   
}

.nav-fill{
    width: 40%;
}
.navbar-toggler-icon {
    color: white;
}
 ul {
    list-style: none;
    
    }
    

 li {
    display: inline-block;
    margin: auto;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 150%;
    letter-spacing: 4px;
}


.nav-link{
    color: #696969;
}

.nav-brand {
position:absolute;
top: 0;
right: 50%;
width: 90px;
height: 90px;
margin-right: -45px;
text-align: center;
}


 .nav-brand img{
     width: 100%;
     height: 100%;
     border-radius: 50%;
     
 }

 .dropdown-menu .show{
     box-sizing: content-box;
     display: inline-block;}
    
    .dropdown-menu {
     z-index: 2000;
     background-color: rgba(255, 255, 255, 0.8);
     font-size: 120%;
     width: 100%;
     border: none;
    text-align: center;
 }
 .dropdown-menu a:hover{
     background: rgba(255, 219, 77, 0.7);
    
     }
 

.carousel-inner{
    max-height: 598px;
    max-width: 1300px;
    margin: auto;
}

.carousel {
    max-width: 1300px;
    margin: auto;
}
#shop-container {
    padding: 0;
}

#shop-container #shop-alert {
    padding: 20px;
    justify-content: center;
}


.shop-alert-content {
border-bottom-style: solid;
border-bottom-width: 1.5px;
border-bottom-color: lightgrey;
padding-left: 30px;
padding-right: 30px;
}

.shop-banner img {
    height: auto;
    align-items: center;
}

div.col-12-copy-container:hover{
    background-color: lightgrey;
} 

.shop-container {
    margin: 0;
    max-width: 100%;
    display:flex;
    justify-content: space-around;
    
}

.shop-banner a{
    text-decoration: none;
    color: #696969;
    text-align: center;
}
.main-section-2 {
    text-align: center;
 
}


 .bg-image {
     background-size: cover;
     background-repeat: no-repeat;
     height: auto;
     max-width: 100%;
     position: relative;
 }

 .bg-image:nth-child(1) {
    background-image: url("../images/homepage/whaletail.png");
    background-position: center;
 }
.bg-image > *{
    position: relative;
    z-index: 2;
}

 .bg-image:after {
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     top:0;
     left: 0;
    background-color: rgba(0, 0, 0, 0.2) ;
    

 }
 .main-section-2 h1 {
     
     font-weight: 700;
     letter-spacing: 4px;
     color: #fffae6;
 }
 
 .main-section-2 p {
     font-size: 150%;
     letter-spacing: 1px;
     color: #fffae6;
     
 }


.shopitems-container {
    display:flex;
    max-width: 100%;
    justify-content: space-around;
    padding: 0;
   
}



.shopitems-polaroid img {
    max-width: 160px;
    height: auto;
    align-items: center;
}



.footer-container h2 {
    
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.footer-container {
    background-color: #ffdb4d;
    height: 200px;  
    margin-top: auto;
}

.footer {
    display: flex;
    justify-content: space-around;  
}

.footer-section {
    display: flex;
    flex-direction: column;
}
.footer-section a {
    color: #696969;
    font-size: 150%;
    margin-bottom: 10px;
    text-decoration: none;
}
.footer-section a:hover {
   color: #FFB6C1;
    transition: 0.25s ease-out;
    transform: scale(1.2);
}

#email-submit {
   font-family: 'Amatic SC', cursive;  
   font-size: 120%;
   height: 45px;
    width: 90px;
    background-color: #B8B8B8;
    border: none;
    margin-left: 0px;
}


#footer-email {
    width: 250px;
    height: 45px;   
    font-size: 20px;
    padding-left: 5px;
    color: #696969;
    margin-top: 10px;
}
#footer-email::placeholder {
    color: #D3D3D3;
}


#email-submit:hover {
    background-color: #FFB6C1;
    transition: 0.25s linear;
}
 .social-media i {
     height: 45px;
     width: 45px;
     font-size:300%;
     color:#696969;
    margin-top: 10px;
 }
 .socialmedia-icons {
    align-items: center;
    margin-right: auto;
    margin-left:auto;
 }

 .socialmedia-icons i:hover {
     transform: scale(1.2);
     color: #FFB6C1;
 }

.footer-copyright {
    display:block;
    color: #B8B8B8;
    text-decoration: none;
    font-size: 150%;
    position: absolute;
    bottom: 0px;
    width: 100%;
   text-align: right;
  padding-right: 10px;
}

@media all and (min-width: 1024px) and (max-width: 1280px) { 



}
 
@media all and (min-width: 768px) and (max-width: 1024px) { 

}
 
@media all and (min-width: 480px) and (max-width: 768px) {

 }
 
@media all and (max-width: 480px) {

 }