* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

h2, h1, h3{
    font-family: 'Amatic SC', cursive;
}
.navalert-container {
    padding: 0;
    margin:0;
    text-align: center;
    background-color: #ffdb4d;

}

.navalert-container .row, .col-12 {
    margin: 0;
    padding: 0;
}

.site-wide-alert {
    background: transparent;
    margin: 0;
}

.site-wide-alert h5 {
    color: #ff471a;
    
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 0;
}

#header {
    width: 100%;
    height: 100%;
    line-height: 60px;
    margin-top: 0;
    border-block-end-style: solid;
    border-bottom-color: lightgray; 
    border-bottom-width: 1px;

}
.header .navbar-light {
    background-color:#fff;
   
}

.nav-fill{
    width: 40%;
}
.navbar-toggler-icon {
    color: white;
}
 ul {
    list-style: none;
    
    }
    

 .navbar-collapse li {
    display: inline-block;
    margin: auto;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 150%;
    letter-spacing: 4px;
}


.nav-link{
    color: #696969;
}

.nav-brand {
position:absolute;
top: 0;
right: 50%;
width: 90px;
height: 90px;
margin-right: -45px;
text-align: center;
}


 .nav-brand img{
     width: 100%;
     height: 100%;
     border-radius: 50%;
     
 }

 .dropdown-menu .show{
     box-sizing: content-box;
     display: inline-block;}
    
    .dropdown-menu {
     z-index: 2000;
     background-color: rgba(255, 255, 255, 0.8);
     font-size: 120%;
     width: 100%;
     border: none;
    text-align: center;
 }
 .dropdown-menu a:hover{
     background: rgba(255, 219, 77, 0.7);
    
     }
 

.carousel-inner{
    max-height: 598px;
    max-width: 1300px;
    margin: auto;
}

.carousel {
    max-width: 1300px;
    margin: auto;
}
#shop-container {
    padding: 0;
}

#shop-container #shop-alert {
    padding: 20px;
    justify-content: center;
    
}
.shop-alert-content h1 {
    letter-spacing: 4px;
}

.shop-alert-content h1::after {
     content: "";
     display: block;
     margin: 0 auto;
     width: 70%;
     padding-top: 10px;
     border-bottom: 2px solid #696969;
}
.shop-banner img {
    height: auto;
    align-items: center;
}

div.col-12-copy-container:hover{
    background-color: lightgrey;
} 

.shop-container {
    margin: 0;
    max-width: 100%;
    display:flex;
    justify-content: space-around;
    
}

.shop-banner a{
    text-decoration: none;
    color: #696969;
    text-align: center;
}
.main-section-2 {
    text-align: center;
 
}

.bg-text {
    padding-bottom: 20px;
}

 .bg-image {
     background-size: cover;
     background-repeat: no-repeat;
     height: auto;
     max-width: 100%;
     position: relative;
 }

 .bg-image:nth-child(1) {
    background-image: url("https://res.cloudinary.com/dbwtdwgnt/image/upload/v1605456935/Rest%20of%20the%20site/whaletail_vpzzwy.png");
    background-position: center;
 }
.bg-image > *{
    position: relative;
    z-index: 2;
}

 .bg-image:after {
     content: "";
     position: absolute;
     width: 100%;
     height: 100%;
     top:0;
     left: 0;
    background-color: rgba(0, 0, 0, 0.4) ;
    

 }
 .main-section-2 h1 {
     
     font-weight: 700;
     letter-spacing: 4px;
     color: #fffae6;
     padding-top: 20px;
     margin-right: auto;
     margin-left: auto;
 }
 .main-section-2 h1::after {
     content: "";
     display: block;
     margin: 0 auto;
     width: 50%;
     padding-top: 10px;
     border-bottom: 2px solid #fffae6;

 }
 .main-section-2 p {
     font-size: 150%;
     letter-spacing: 2px;
     color: #fffae6;
     line-height: 1.7;
     word-spacing: 2px;
 }



.shopitems-container {
    display:flex;
    max-width: 100%;
    justify-content: space-around;
    padding: 0;
   
}


.main-shop h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.main-shop h1::after {
     content: "";
     display: block;
     margin: 0 auto;
     width: 50%;
     padding-top: 10px;
     border-bottom: 2px solid #B8B8B8; }

.main-shop-container {
    padding: 0;
}

.shop-bg-container  {
    max-width: 1300px;
    max-height: 600px;
    margin:auto;
    background-color: #ffb48f;
    
}
.top-shopimage {
    padding: 0;
}
.top-shopimage img {
    max-height: 600px;
}
.shopitems-polaroid img {
    max-width: 260px;
    height: auto;
   
}
.shopitems-polaroid {
    justify-content: center;
    display: flex;
}

.shop-form {
    min-width: 130px;
    
    max-width: 200px;
}

.shop-form label {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 700;
}

.shop-form input  {
    min-width: 130px;
    width: 40vw;
    max-width: 260px;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    margin: 5px 0 10px;
    box-sizing: border-box;
    background-color: #8a9a5b;
    border-radius: 0;
    border-style: none;
    font-size: x-large;
    letter-spacing: 3px;
    font-weight: 700;
    color: #ddebe4;

}

.christmas-banner .jumbotron {
    padding: 100px 50px;
    background-image: url(http://res.cloudinary.com/dbwtdwgnt/image/upload/e_blur:392,o_83/v1605464797/dresses/annie-spratt-X4l3CjcDvic-unsplash_khi1zk.jpg);
    background-size: cover;
    
    }

.chriastmas-text {
    color: 	#ff0000;
    font-size: 4vw;
}


.gallery img {
    width: 300px;
}

.contact-container {
    
    background-image: url(https://res.cloudinary.com/dbwtdwgnt/image/upload/v1605476247/Rest%20of%20the%20site/Screenshot_2020-11-10_at_22.50.07_qtr3uw.png);
    background-size: cover;
    opacity: 0.9;
    padding: 35px 25px;
}
 .contact-container .jumbotron {
     background-color: white;
     border-radius: 0;
     margin: 0;
     padding: 15px 10px;
 }

.jumbotron h1 {
    text-align: center;
}

.contact-row .col-md-3 {
    text-align: center;
}

.contact-row #headIcon {
    border-radius: 50%;
    background-color: #8a9a5b;
    padding: 30px;
    color: #ddebe4;
    font-size: 150%;
}

 .mm-container {
     display: flex; 
 }

 .message-section, .map-section {
     padding: 0 15px;
 }


#map {
    width: 100%;
    height: 300px;
}


table {
    margin: auto;
    box-sizing: border-box;
    display: table;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
}

tr {
    display: table-row;
}

tr:nth-child(odd) {
    background-color: #FFEDA6;

}
 


tr:first-child th{
  background-color: 	#b6c196;
  font-family: 'Amatic SC', cursive;
}

th {
    padding: 19px;
}

td {
    padding: 19px;
}

.footer-container h2 {
    
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.footer-container {
    background-color: #ffdb4d;
    height: auto;  
    margin-top: auto;
}


.footer-small {
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
}


.footer {
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
}

.footer-section-container {
    display: flex;
    flex-direction: column;
    
}

.footer-small-section {
    display: flex;
    flex-direction: column;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.footer-small a {
    color: #696969;
    font-size: 150%;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-section a {
    color: #696969;
    font-size: 150%;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer-small a:hover {
   color: #FFB6C1;
    transition: 0.25s ease-out;
    transform: scale(1.2);
}

.footer-section a:hover {
   color: #FFB6C1;
    transition: 0.25s ease-out;
    transform: scale(1.2);
}

#email-submit {
   font-family: 'Amatic SC', cursive;  
   font-size: 120%;
   height: 45px;
    width: 90px;
    background-color: #B8B8B8;
    border: none;
    margin-left: 0px;
}


#footer-email {
    width: 250px;
    height: 45px;   
    font-size: 20px;
    padding-left: 5px;
    color: #696969;
    margin-top: 10px;
}
#footer-email::placeholder {
    color: #D3D3D3;
}


#email-submit:hover {
    background-color: #FFB6C1;
    transition: 0.25s linear;
}
 .social-media i {
     height: 45px;
     width: 45px;
     font-size:300%;
     color:#696969;
    margin-top: 10px;
 }
 .socialmedia-icons {
    align-items: center;
    margin-right: auto;
    margin-left:auto;
 }

 .socialmedia-icons i:hover {
     transform: scale(1.2);
     color: #FFB6C1;
 }

.footer-copyright {
    display:block;
    color: #B8B8B8;
    text-decoration: none;
    font-size: 150%;
    position: absolute;
    bottom: 0px;
    width: 100%;
   text-align: center;
  
}

@media all and (max-width: 1280px) { 
.site-wide-alert h5 {
font-size: 1.37vw;
}


}

 
@media all and (min-width: 768px) and (max-width: 1024px) { 
.footer-container h2 {
    letter-spacing: 1px;
}
#footer-email {
    width: 190px; 
    }
#email-submit {
    width: 80px;
}
}
 
@media all and (max-width: 768px) {
.ml-auto, .mx-auto {
    margin-left: 0!important;

}
.shop-alert-content h1 {
    letter-spacing: 1.8px;
}
.main-section-2 h1 {
    font-size: 5.7vw; 
    
    }

 .main-section-2 p {
    font-size: 3vw;

    }

.shop-form input {
    letter-spacing: 2.5px;
    font-size: large;
    font-weight: 500;
    }

.footer-container h2 {
    font-size: 3.5vw;
}

.footer-container a {
    font-size: 2.5vw;
}
.footer-container i {
    font-size: 5vw;
}
.footer-copyright {
    font-size: 2vw;
}
#footer-email {
    width: 60vw; 
    }
}

 
@media (max-width: 480px) {
.shop-alert-content h1 {
    font-size: 8vw;
    letter-spacing: 1px;
}
.main-section-2 h1 {
    font-size: 8vw;
}
.main-section-2 p {
    font-size: 4vw;
    line-height: 1.4;
}
.footer-container h2 {
    font-size: 6vw;
}

.footer-container a {
    font-size: 4vw;
}
.footer-container i {
    font-size: 7vw;
 }

 .footer-copyright {
    font-size: 3vw;

}

}